/* ---- reset ---- */

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
div{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  left: 0; 
  right: 0; 
  top: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  border: 1px solid seagreen;
}
h1 {
  color: white;
  padding: 5px;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #001;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */